* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}


header {
    border: 5px solid #444d50;
    background-color: #d8d8fa;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 10px 10px;
    text-shadow: 2px 2px;
    border-radius: 25px;
    background: #d8d8fa;
    padding: 20px;

}

nav {
    border: 5px solid #444d50;
    background-color: #BDD5EA;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 10px 10px;
    border-radius: 25px;
    background: #BDD5EA;
    padding: 20px;

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
}

article {
border: 5px solid #444d50;
background-color: #d8d8fa;
margin-bottom: 15px;
padding: 10px;
max-width: 70%;
font-size: 150%;
box-shadow: 10px 10px;
border-radius: 25px;
background: #d8d8fa;
padding: 20px;
}

footer {
    border: 5px solid #444d50;
    background-color: #BDD5EA;
    padding: 10px;
    border-radius: 25px;
    background: #BDD5EA;
    padding: 20px;
    box-shadow: 10px 10px;
}

img {
    padding-left: 105%;
    width: 500px;
  
}

h1 {
    text-shadow: 2px 2px;
  }

  h2 {
    text-shadow: 2px 2px;

  }

  .imga {
    padding-left: 105%;
    width: 350px;
  
  }